
.topNavContainer {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
    height: 100px;
    background-color: #111111;
    margin-bottom: 20px;
    color: #c5bcbc;
}


nav h2 {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: bold;
    color: #0254ce;
}