body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(196, 193, 193);
    color: black;
    
    
}

 
.homemain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    width: 115rem;
    border: 2px solid black;
    height: 55rem;
    margin: 0;
    padding: 0;
}


.homediv {
    background-color: rgb(196, 193, 193);
    height: auto;
   width: 100%;

}
    

.pricecontainerdiv {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
   width: 100%;
    padding: 10px 20px;
}

