body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
    background-color: #ffffff;
    
}

 
.homemain {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    width: 115rem;
    margin: 0;
    padding: 0;
    height: 100vh;
}


.homediv {
   width: 95rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
    margin: 0 0 0 400px;
    background-color: #ffffff;
    border: 1px solid rgba(185, 183, 183, 0.459);
}
    

.pricecontainerdiv {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
    /* height: 70rem; */
    width: 100rem;
}


.welcome-section {
    border: 2px solid rgba(185, 183, 183, 0.459);
    width: 80%;
    padding-left: 10px;
    background-color: #0254ce;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}



.graphsection {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}



/* div holding the side nav */

.sideNav {
    border: 1px solid rgba(185, 183, 183, 0.459);
    border-radius: 10px;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    
}

.topNav {
    width: auto;
    margin: 0 0 20px 0;
    height: 100px;
}