body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
    
}

 
.homemain {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    font-family: Arial, sans-serif;
    width: 115rem;
    margin: 0;
    padding: 0;
}


.homediv {
   width: 115rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
    margin-top: 0;
    background-color: transparent;
}
    

.pricecontainerdiv {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
    height: 70rem;
    width: 100rem;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
}


.header {
    border: 2px solid rgba(185, 183, 183, 0.459);
    width: 80%;
    padding-left: 10px;
    background-color: rgb(2, 84, 206);
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}