.sidebarComponent {
    width: 250px;
    margin-top: 20px;
    background-color: #ffffff;
    
}

nav ul {
    margin-top: 50px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    background-color: #0254ce;
}

nav ul li {
    display: block;
    justify-content: left;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    max-width: auto;
    border-bottom: 1px solid #ccc;

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0254ce;
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    align-items: top;
    top: 0;
}