h3  {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    width: screen;
}

.homepage {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100rem;
    border: 2px solid white;
}

.buydiv .selldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: screen;
    margin: 10px;
    border: 2px solid white;

}

.titlediv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row ;
    border: 2px solid white;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    border: 2px solid white;
}